<nav>
    <a href="/" style="color:green;">Home</a>
    <a href="/menu" style="color:green;">Full Menu</a>
    <a href="/menu/mains" style="color:green;">Mains</a>
    <a href="/menu/desserts" style="color:green;">Desserts</a>
    <a href="/menu/sides" style="color:green;">Sides</a>
</nav>