.starship-card {
    border-radius: 1rem;
    background-color: thistle;
    color: black;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    font-size: .9rem;
}

.starship-title {
    color: purple;
    font-size: 1rem;
    text-align: center;
}

span {
    color: purple;
}