<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/recipes">View my recipes</a>
        <a href="/ingredients">View available ingredients</a>
        <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>
