<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Patient</title>
</head>
<body>
    <h1>Add New Patient</h1>
    <form action="/patients" method="POST">

        <div>
        <!--<label for="physician">Attending physician:</label>
            <input type="text" name="physician" id="physician" /> -->
            <label for="physician">Attending physician:</label>
            <select id="physician" name="physician">
                <% allPhysicians.forEach((physician) => { %>
                    <option value="<%= physician.name %>"><%= physician.name %></option>
                <% }) %>
                <option value="Other">Other</option>
            </select>
        </div>

        <div>
            <label for="name">Patient's full name:</label>
            <input type="text" name="name" id="name" />
        </div>

        <div>
            <label for="age">Age:</label>
            <input type="text" name="age" id="age" />
        </div>

        <div>
            <label for="sex">Sex:</label>
            <input type="text" name="sex" id="sex" />
        </div>

        <div>
            <label for="height">Height (in inches):</label>
            <input type="text" name="height" id="height" />
        </div>

        <div>
            <label for="weight">Weight (in lbs):</label>
            <input type="text" name="weight" id="weight" />
        </div>

        <div>
            <label for="condition">Condition:</label>
            <select id="condition" name="condition" required>
                <option value="Depression">Depression</option>
                <option value="Eating disorder">Eating disorder</option>
                <option value="Anxiety">Anxiety</option>
                <option value="Bipolar Mood Disorder">Bipolar Mood Disorder</option>
                <option value="ADHD">ADHD</option>
                <option value="Developmental Disorder">Developmental Disorder</option>
                <option value="Personality Disorder">Personality Disorder</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div>
            <label for="symptoms">Symptoms:</label>
            <textarea type="text" name="symptoms" id="symptoms" placeholder="Describe symptoms" ></textarea>
        </div>

        <div>
            <label for="inpatient">Inpatient treatment?</label>
            <select id="inpatient" name="inpatient" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div><button type="submit">Add Patient</button></div>
    </form>  

    <div id="buttons">
        <form action="/patients" method="GET">
            <button type="submit">View list of patients</button>
        </form>

        <form action="/physicians" method="GET">
            <button type="submit">View list of physicians</button>
        </form>

        <form action="/" method="GET">
            <button type="submit">Go home</button>
        </form>
    </div>
</body>
</html>