<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--inserting icon-->
    <title>Psych Home</title>
</head>
<body>
    <h1>
        Welcome to Psych!
    </h1>
    <% if (person) { %>
        <p><%= person.name %> has been deleted.</p>
    <% } else { %>
        <p>
            A platform for keeping track of patients and physicians.
        </p>
    <% } %>

    <div id="buttons">
        <form action="/patients/new" method="GET">
            <button type="submit">Add a patient</button>
        </form>
    
        <form action="/physicians/new" method="GET">
            <button type="submit">Add a physician</button>
        </form>

        <form action="/patients" method="GET">
            <button type="submit">View list of patients</button>
        </form>

        <form action="/physicians" method="GET">
            <button type="submit">View list of physicians</button>
        </form>
    </div>
</body>
</html>