<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--inserting icon-->
    <link href="favicon.ico" rel="icon" type="image/png">
    <title>Psych Home</title>
</head>
<body>
    <h1>
        Welcome to Psych!
    </h1>
    <p>
        A platform for keeping track of patients and physicians.
    </p>
</body>
</html>