<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--inserting icon-->
    <link href="favicon.ico" rel="icon" type="image/png">
    <title><%= person.name %></title>
</head>
<body>
    <h1>
        <%= person.name %>
    </h1>
    <!--
    <p>
        List of active Psych ward patients.
    </p>
    <table>
        <tr>
            <td class="td-header">Name of Patient</td>
            <td class="td-header">Attending Physician</td>
            <td class="td-header">Age</td>
            <td class="td-header">Diagnosis</td>
            <td class="td-header">Inpatient?</td>
        </tr>
        
    </table>

    <div id="buttons">
        <form action="/patients/new" method="GET">
            <button type="submit">Add a patient</button>
        </form>
    
        <form action="/" method="GET">
            <button type="submit">Go home</button>
        </form>
    </div> --->
</body>
</html>