<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
        <h1>Welcome to the CookBook app, <%= user.username %>!</h1>
        <div id="buttons"></div>
            <form action="/auth/sign-out" method="GET">
                <button type="submit">Sign out!</button>
            </form>
        </div>
    <% } else { %>
        <h1>Welcome to the app, guest.</h1>
        <div id="buttons">
            <form action="/auth/sign-up" method="GET">
                <button type="submit">Sign up!</button>
            </form>
            <form action="/auth/sign-in" method="GET">
                <button type="submit">Sign in!</button>
            </form>
        </div>
    <% } %>

    <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>

</body>
</html>
