html {
  padding: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}


h2 {
  margin: auto;
}

.all-forecasts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}