<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Ingredients</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>The list of ingredients</h1>
    <div id="app-table">
        <table>
            <tr>
                <td class="td-head">Ingredient</td>
                <td class="td-head">Used in</td>
            </tr>
            <% allIngredients.forEach((ingredient) => { %>
                <tr>
                    <td><%= ingredient.name %></td>
                    <td>
                        <ul>
                            <% allRecipes.forEach((recipe) => { %>
                                <% if (ingredient.recipes.includes(recipe._id)) { %>
                                    
                                    <% allUsers.forEach((user) => { %>
                                        
                                        <% if (JSON.stringify(recipe.owner) === JSON.stringify(user._id)) { %>
                                            <li><span><%= recipe.name %></span> recipe by <span><%= user.username %></span></li>
                                        <% } %>
                                    <% }); %>
                                    
                                <% } %>

                            <% }); %>

                        </ul>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>

    <div id="buttons">
        <form action="/ingredients/new" method="GET">
            <button type="submit">New ingredient</button>
        </form>
    </div>
    
</body>
</html>