<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Ingredients</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>The list of ingredients</h1>
    <div id="app-table">
        <table>
            <tr>
                <td class="td-head">Ingredient</td>
            </tr>
            <% allIngredients.forEach((ingredient) => { %>
                <tr>
                    <td><%= ingredient.name %></td>
                </tr>
            <% }) %>
        </table>
    </div>

    <div id="buttons">
        <form action="/ingredients/new" method="GET">
            <button type="submit">New ingredient</button>
        </form>
    </div>
    
</body>
</html>