html, body, #reset {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}


body {
    background-color: pink;
    /* Use a system font, if none are available use an available sans-sarif */
    margin: 0;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
  }
  
  .sqr {
    width: 30%; /* 30% of the parent element */
    aspect-ratio: 1/1;
    border: 3px solid white;
    font-size: 50px;
    text-align: center;
    background-color: thistle;
  }

  .sqr:hover {
    cursor: pointer;
  }

  .playwrite {
    font-family: "Playwrite CU", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

  #message {
    font-weight: 100;
  }

  #reset:hover {
    background-color:thistle;
  }

  .yell {
    color: lemonchiffon;
  }

  .whity {
    color: white;
  }

  .purply {
    color: lightcyan;
  }
