body {
    background-color: lightyellow;
    margin: 5rem;
    color: limegreen;
    font-size: 1.1rem;
}

div {
    margin: .1rem;
    display: flex;
    flex-direction: column;
}

label {
    color: green;
}

input {
    background-color: honeydew;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 .6rem;
}

button {
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    background-color: green;
    color: white;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

a {
    color: darkgreen;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.td-head {
    background-color: white;
    color: hotpink;
}

td {
    padding: .5rem;
    border: 1px pink solid;
}

table {
    width: 60%;
}

#new-recipe {
    background-color: blanchedalmond;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
}

#ingr-list {
    margin: 2rem auto;
    background-color: pink;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5rem;
}

#ingr-title {
    margin: 1rem auto;
}

#ingredients {
    background-color: thistle;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: .2rem auto;
    border-radius: .5rem;
}

#post-button {
    width: 20%;
    margin: 2rem auto;
}
