<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Recipes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>The list of recipes</h1>

    <div id="buttons">
        <form action="/recipes/new" method="GET">
            <button type="submit">New recipe</button>
        </form>
    </div>
    
</body>
</html>