<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Recipe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New recipe</h1>
    <form id="new-recipe" action="/recipes" method="POST">

        <div>
            <label for="name">Recipe title:</label>
            <input type="text" name="name" id="name" />
        </div>

        <div>
            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions" id="instructions" />
        </div>

        <div id="ingr-list">
            <label id="ingr-title">Ingredients</label><br>
            <% allIngredients.forEach((ingredient) => { %>
                <div id="ingredients">
                    <input type="checkbox" name="ingredients[]" id="<%= ingredient._id %>" value="<%= ingredient._id %>"/>
                    <label for="ingredients[]"><%= ingredient.name %></label>                
                </div>
            <% }) %>
        </div>

        <div><button id="post-button" type="submit">Add Recipe</button></div>
    </form> 


    <div id="buttons">
        <form action="/recipes" method="GET">
            <button type="submit">Back to list</button>
        </form>
    </div>
    
</body>
</html>