<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sign In</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
        </div>

        <div><button type="submit">Sign In</button></div>
      </form>
</body>
</html>
