#item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#mailbox-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    background-color: pink;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 50%;
    margin-bottom: 1rem;
    height: 15rem;
    width: 15rem;
}

.letter-text {
    padding: 1rem;
    border: 2px white solid;
    max-width: 100%;
}

@media (max-width: 550px) {
    #mailbox-item {
        height: 10rem;
        width: 10rem;
    }
}