#mailboxes-list-main {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.mailbox-card {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    background-color: pink;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 50%;
}

span {
    color: magenta;
}