<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--inserting icon-->
    <link href="favicon.ico" rel="icon" type="image/png">
    <title>List of physicians</title>
</head>
<body>
    <h1>
        List of physicians
    </h1>
    <p>
        List of Psych ward physicians.
    </p>
    <table>
        <tr>
            <td class="td-header">Name of Physician</td>
            <td class="td-header">Specialty</td>
            <td class="td-header">Availability to take new patients</td>
        </tr>
        <% allPhysicians.forEach((physician) => { %>
            <tr>
                <td><a><%= physician.name %></a></td>
                <td><%= physician.specialty %></td>
                <td>
                    <% if (physician.available) { %>
                        Available
                    <% } else { %>
                        Not Available
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>

    <div id="buttons">
        <form action="/patients/new" method="GET">
            <button type="submit">Add a patient</button>
        </form>
    
        <form action="/" method="GET">
            <button type="submit">Go home</button>
        </form>
    </div>
</body>
</html>