<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Physician</title>
</head>
<body>
    <h1>Add New Physician</h1>
    <form action="/physicians" method="POST">

        <div>
            <label for="name">Physicians's full name:</label>
            <input type="text" name="name" id="name" />
        </div>

        <div>
            <label for="specialty">Specialty:</label>
            <select id="specialty" name="specialty" required>
                <option value="Psychiatry MD PsyD">Psychiatry MD PsyD</option>
                <option value="General clinical psychology">General clinical psychology</option>
                <option value="Abnormal psychology">Abnormal psychology</option>
                <option value="Developmental psychology">Developmental psychology</option>
                <option value="Eating disorders">Eating disorders</option>
                <option value="Mood disorders">Mood disorders</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div>
            <label for="available">Available to take on new patients?</label>
            <select id="available" name="available" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div>
            <label for="bio">Biography:</label>
            <textarea type="text" name="bio" id="bio" placeholder="Physician's biography" ></textarea>
        </div>

        <div><button type="submit">Add Physician</button></div>
    </form> 

    <div id="buttons">
        <form action="/patients" method="GET">
            <button type="submit">View list of patients</button>
        </form>

        <form action="/physicians" method="GET">
            <button type="submit">View list of physicians</button>
        </form>

        <form action="/" method="GET">
            <button type="submit">Go home</button>
        </form>
    </div>

</body>
</html>